.logoIntro{
    width: 100%;
    padding-top: 10px;
}

body{
    background-color: #541388;
    color: white;
}
.justificarTexto{
    text-align: justify;
    font-size: 18px;
}

.recompensa{
    color: #1BE7FF;
}

.puntos{
    color: #D90368;
}

.descuentos{
    color: #E8AA14;
}

.punteroModal{
    cursor: pointer;
    font-size: 25px;
    color: inherit;
}

a:hover{
    color: #541388;
}

.fondoModalRecompensa{
    background-color: #1BE7FF;
    color: white;
    font-size: 20px;
}

.fondoModalPuntos{
    background-color: #D90368;
    color: white;
    font-size: 20px;
}

.fondoModalDescuentos{
    background-color: #E8AA14;
    color: white;
    font-size: 20px;
}

.formaModal{
    border-radius: 3%;
}




